*{
    margin:0;
    padding:0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    box-sizing: border-box;
    overflow-x:hidden;
    overflow-y:hidden;
}
body{
    background: #222629;
}
/*loading*/
#loading{
    display : flex;
    flex-wrap: wrap;
    align-items: center;
    align-content: center;
    justify-content: flex-start;
    position:fixed;
    width:100%;
    height:100vh;
    /*background-color: rgb(43,41,41);*/
   background-image: linear-gradient(-120deg, rgb(39, 26, 26) 0%, rgb(61, 11, 11) 100%);
    background-repeat: no-repeat;
    background-position: center;
    z-index:99999;
    transition: 2s all;
    color: white;
}
#loading #introtext{
    flex:100%;
    max-width:100%;
    text-align:center;
    font-size: 20px;
    font-family: 'Satisfy', cursive;
    padding:10px;
    word-wrap: wrap;
    letter-spacing: 3px;
    word-spacing:5px;
}
#loading #profilebutton{
    flex:100%;
    max-width:100%;
    display:flex;
    align-items: center;
    justify-content: center;
    text-align:center;
    font-size: 20px;
    height:20vh;
}
#loading #profilebutton button{
    border-radius:25px;
    border-style:none;
    color:white;
    font-family: 'Satisfy', cursive;
    word-spacing:8px;
    padding:10px 26px;
    background-color:rgba(13,13,14,0.8);
    transition:0.3s all;
    outline:none !important;
}
#loading #profilebutton button:hover{
   
    transition:0.3s all;
    padding:10px 46px;
}
/*main*/
.bigscreen{
    background: #222629;
}
.left{
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
    height:auto;
    width:30%;
    background: #191b1d;
    position:fixed;
    top:0;
    left:0;
    box-shadow:0 5px 5px #222629;
}
.left .navbar{
    position:unset;  
    display:flex;
    justify-content: flex-start;
    align-items: center;
    background:rgba(25,27,29,0.8)
}
.left .navbar .navbutton{
    flex:25%;
    max-width:25%;
    display:flex;
    justify-content: center;
    align-items: center;
}
.left .navbar .navbutton button{
    display: none;
    color:white;
    font-size:20px;
    background: inherit;
    border-style:none;
    outline:none !important;
}
.left .navbar .logo{
    flex:50%;
    max-width: 50%;
    display: flex;
    justify-content: center;
    align-items:center;
}
.left .navbar .links{
    flex:100%;
    max-width: 100%;
    display: none;
    justify-content: center;
    align-items:center;
}
.left .navbar .links ul{
    flex:70%;
    max-width: 70%;
    list-style: none;
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction:column;
    margin-top:5vh;
    margin-bottom:5vh;
    border-top-style: solid;
    border-top-width: 1px;
    border-top-color:white;
}
.left .navbar .links ul li{
    display:flex;
    justify-content: center;
    align-items: center;
    margin:1vh;
}
.left .navbar .links ul li a{
    text-decoration:none;
    color:white;
    font-size:15px;
    padding:8px ;
    letter-spacing: 2px;
    transition:0.3s all;
}
.left .navbar .links ul li a:hover{
    text-decoration:none;
    color:#86c232;
    padding:8px ;
    background:black;
    transition:0.3s all;
}
.left .middle{
    flex:100%;
    max-width: 100%;
    display:flex;
    justify-content: center;
    flex-direction: column;
    margin-top:5vh;
} 
.left .middle #profileimage{
        max-width:100%;
        flex:100%;
        display:flex;
        justify-content :center;
        align-content:center;
        align-items:center;
        margin-bottom: 0;
}
.left .middle #profileimage img{
        max-width:40%;
        margin-left:0%;
        margin-bottom:0%;
        border-radius:50%;
        border-style: none;
}
.left .middle #linklist{
    flex:100%;
    max-width: 100%;
    display:flex;
    justify-content: center;
}
.left .middle #linklist ul{
    flex:100%;
    max-width: 100%;
    margin-top:2vh;
    margin-bottom: 2vh;
}
.left .middle #linklist ul li{
    flex:100%;
    max-width: 40%;
    margin-left:30%;
    display:block;
    padding: 4px;
    display:flex;
    justify-content:center;
    
}
.left .middle #linklist ul li a{
    flex:100%;
    max-width: 100%;
    padding:4px 8px;
    color:white;
    background:inherit;
    border-color:white;
    border-radius:5px;
    border-style:solid;
    border-width: 1px;
    text-align:center;
    text-decoration: none;
    cursor: pointer;
}
.left .middle #linklist ul li a:active{
    background:#86c232;
    border-color:#86c232;
}
.footer{
    flex:100%;
    max-width:100%;
    display:flex;
    justify-content:center;
    padding:2vh;
    margin-top:15vh;
}
.footer ul li{
    display:inline;
}
.footer ul li a{
    text-decoration:none;
    color:white;
    font-size:30px;
    padding:4px;
    transition:0.2s all;
}
.footer ul li a:hover{
    transform: scale(1.2);
    transition:0.2s all;
}
/*rightpart*/
.right{
    width:70%;
    margin-left:30%;
    display:flex;
    flex-direction: column;
    background:#222629;
}
.right #arrow{
    position:fixed;
    top: 85vh;
    left:90vw;
    border-radius:20px;
    background:rgba(0, 0, 0, 0.336);
}
.right #arrow #lefta{
    font-size: 30px;
    text-decoration:none;
    color:white;
    padding:2vh;
    display:none;
}
.right #arrow #righta{
    font-size: 30px;
    text-decoration:none;
    color:white;
    padding:2vh;
    display:block;
}
.right #arrow #lefta:hover{
    color:#86c232; 
}
.right #arrow #righta:hover{
    color:#86c232; 
}
.right .nav{
    width:70%;
    position: fixed;
    flex:100%;
    max-width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-color:rgba(17, 16, 16, 0.349);
}
.right .nav ul {
    margin-top:1vh;
    margin-bottom:1vh;
    display:flex;
    flex-direction:row;
    margin-right:4vh;
}
.right .nav ul li{
    padding:1vh;
    color:#86c232;
    border-radius:10px;
    transition: 0.2s all;
    margin:2vh;
}
.right .nav ul li:hover{
    color:white;
    background:#86c232;
    transition:0.2s all;
}
.right .nav ul li a{
    text-decoration: none;
    color:inherit;
    padding:4px 8px;
    font-weight: 500;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.right .middle{
    flex:100%;
    max-width:100%;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    margin-top:25vh;
}
.right .middle .introduction{
    flex:100%;
    max-width:100%;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
}
.right .middle .introduction #name{
    color:#86c232;
    font-size:50px;
    font-weight:400;
    text-align:center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.right .middle .introduction #introtext{
    flex:100%;
    max-width:70%;
    color:#6b6e70;
    margin-top:5vh;
    text-align:center;
}
.right .middle .skills{
    flex:100%;
    max-width:100%;
    display:flex;
    flex-direction:row;
    justify-content:center;
    align-items:center;
    margin-top:30vh;
    flex-wrap:wrap;
}
.right .middle .skills .headlabel{
    flex:100%;
    max-width:100%;
    display:flex;
    justify-content:center;
    align-items:center;
    align-content:center;
}
.right .middle .skills .headlabel p{
    flex:100%;
    max-width:70%;
    font-size:40px;
    text-align:center;
    color:#86c232;
    border-bottom-style: solid;
    border-bottom-width: 4px;
    border-bottom-color: #86c232;
}
.right .middle .skills .majlabel{
    flex: 50%;
    max-width:50%;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    margin-bottom:5vh;
}
.right .middle .skills .majlabel .title{
    color:#86c232;
    font-size:20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    border-bottom-style: solid;
    border-bottom-color:#86c232 ;
    border-bottom-width:4px;
    text-align:center;
}
.right .middle .skills .majlabel .list{
    flex:100%;
    max-width:100%;
    display:flex;
    justify-content:center;
    align-items:center;
    margin-top:3vh;
}
.right .middle .skills .majlabel .list ul{ 
    list-style:none;
    flex:100%;
    max-width:70%;
    margin-top:2vh;
    margin-bottom:2vh; 
    display:flex;
    justify-content:center;
    align-items:center;
    flex-wrap:wrap;
}
.right .middle .skills .majlabel .list ul li{
    
    border-radius:25px;
    color:#86c232;
    background:#474b4f;
    padding:2px 16px;
    font-size:15px;
    margin:1vh 2vh;
    text-align:center;
}
.right .middle .education{
    flex:100%;
    max-width:100%;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-content: center;
    margin-top:20vh;
    flex-wrap:wrap;
}
.right .middle .education .headlabel{
    flex:100%;
    max-width:100%;
    display:flex;
    justify-content:center;
    align-items:center;
    align-content:center;
}
.right .middle .education .headlabel p{
    flex:100%;
    max-width:70%;
    font-size:40px;
    text-align:center;
    color:#86c232;
    border-bottom-style: solid;
    border-bottom-width: 4px;
    border-bottom-color: #86c232;
}
.right .middle .education .majlabel{
    flex: 100%;
    max-width:100%;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    margin-bottom:5vh;
}
.right .middle .education .majlabel .title{
    color:#86c232;
    font-size:20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    border-bottom-style: solid;
    border-bottom-color:#86c232 ;
    border-bottom-width:4px;
    text-align:center;
}
.right .middle .education .majlabel .list{
    flex:100%;
    max-width:100%;
    display:flex;
    justify-content:center;
    margin-top:3vh;
}
.right .middle .education .majlabel .list ul{ 
    list-style:none;
    flex:100%;
    max-width:100%;
    margin-top:2vh;
    margin-bottom:2vh; 
    display:flex;
    justify-content:center;
    flex-wrap:wrap;
}
.right .middle .education .majlabel .list ul li{
    flex:100%;
    max-width:100%;
    color:#6b6e70;
    padding:2px 16px;
    font-size:15px;
    margin:1vh 2vh;
    text-align:center;
    flex-wrap: wrap;
}
.right .footer{
    flex:100%;
    max-width:100%;
    display:flex;
    flex-direction:row;
    justify-content:center;
    align-items:center;
    margin-top:0vh;
}
.right .footer ul{
    list-style: none;
    margin-top:1vh;
    margin-bottom:1vh;
}
.right .footer ul li{
    color:#86c232;
    padding:4px ;
}
@media screen and (max-width:768px){
    #loading{
        background-image: linear-gradient(-120deg, rgb(39, 26, 26) 0%, maroon 100%);
    }
    #loading #introtext{
        font-size: 20px;
        padding: 5px;
    }
    #loading #profilebutton{
        font-size: 20px;
        height:15vh;
    }
    #loading #profilebutton button{
        background:rgba(13,13,14,0.8);}
    .left{
        height: auto;
        min-height: auto;
        width:100%;
        background: #191b1d;
        position: relative;
        top:0;
        left:0;
        box-shadow: none;
    }
    .left .navbar{
        position: fixed;
        top:0;
        left:0;
        z-index: 2;
        width:100%;
        padding:0;
        background: #191b1df8;
    }
   
    .left .navbar .navbutton button{
        display:flex;
    }
    .left .navbar .links{
        display:none;
        animation-duration: 0.5s;
        animation-timing-function:linear;
    }
    @keyframes links {
        0%   {height:0vh;overflow-y:hidden;}
        25%   {height:10vh;overflow-y:hidden;}
        50% {height:20vh;overflow-y:hidden;}
        75% {height:30vh;overflow-y:hidden;}   
        100% {height:40vh;overflow-y:visible;}  
    }
    @keyframes linksclose {
        0% {height:40vh;overflow-y:visible;}  
        25% {height:30vh;overflow-y:hidden;} 
        50% {height:20vh;overflow-y:hidden;}
        75%   {height:10vh;overflow-y:hidden;}
        100%   {height:0vh;overflow-y:hidden;}   
    }
    .left .middle{
        flex:100%;
        max-width: 100%;
        display:flex;
        justify-content: center;
        flex-direction: column;
        margin-top:20vh;
    }
    .right{
        width:70%;
        margin-left:15%;
        display:flex;
        flex-direction: column;
        background:#222629;
    }
    .right #arrow{
        position:fixed;
        top:75vh;
        left:85vw;
        border-radius:15px;
    }
    .right #arrow #lefta{
        display:block;
        font-size:20px;
        padding:2vh;
    }
    .right #arrow #righta{
        display:none;
        font-size:20px;
        padding:2vh;
    }
    .right .nav{
        display:none;
    }
    .right .middle{
        margin-top:5vh;
    }
    .right .middle .introduction #name{
        font-size:30px;
        font-weight:400;
    }
    .right .middle .skills{
        margin-top:15vh;
    }
    .right .middle .skills .majlabel{
        flex:100%;
        max-width:100%;
    }
    .right .middle .skills .majlabel .title{
        font-size:15px;
    }
    .right .middle .skills .headlabel p{
        font-size:20px;
    }
    .right .middle .skills .majlabel .list ul li{
        font-size:12px;
        margin:1vh 1vh;
    }
    .right .middle .education{
        margin-top:15vh;
    }
    .right .middle .education .majlabel{
        flex:100%;
        max-width:100%;
    }
    .right .middle .education .majlabel .title{
        font-size:20px;
    }
    .right .middle .education .headlabel p{
        font-size:20px;
    }
    .right .middle .education .majlabel .list ul li{
        font-size:3vw;
        margin:1vh 1vh;
    }
    
}
