*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    
}
#page{
    width:100%;
}
#mainbody{
    margin-top:0;
    padding:0;
}
#nav{
    display:flex;
    position:fixed;
    top:0;
    left:0;
    width:100%;
    background: rgb(43, 41, 41);
    flex-wrap:wrap;
    justify-content:space-around;
    box-shadow: 5px 0 10px grey;
    
}
#nav div {
    display:flex;
    justify-content:center;
}
#nav ul{
    flex:50%;
    max-width:50%;
    display:flex;
    justify-content:center;
    align-items: center;
    margin-bottom: 1vh;
    margin-top:1vh;
    flex-direction:row;
}
#nav ul li{
    border-style:none;
    border-radius:10px;
    color:white;
    padding:10px 10px;;
    margin-left:8px;
}
#nav ul li:hover{
    background:grey;
    color:whitesmoke;
}
#nav ul li a{
    text-decoration:none;
    color:whitesmoke;
    font-size:20px;
    font-weight:600;
}
#middle{
    flex:90%;
    display: flex;
    max-width:90%;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-left:5%;
    margin-top:20vh;
}
#middle .leftp{
    max-width:30%;
    flex:30%;
    display: flex;
    flex-wrap: wrap;
    justify-content:center;
    align-items:center;
    align-content: flex-start;
    margin-left:0%;
}
#middle .leftp .imgleftp{
    display:flex;
    justify-content: center;
    flex-direction: column;
    margin-bottom:0;
}
#middle .leftp .imgleftp p{
    display:flex;
    justify-content: center;
    margin-bottom:0%;
}
#middle .leftp .imgleftp .imgl{
    max-width:100%;
    flex:100%;
    display:flex;
    justify-content :center;
    align-content:center;
    align-items:center;
}
#middle .leftp .imgleftp .imgl img{
    max-width:80%;
    margin-left:0%;
    margin-bottom:0%;
}
#middle .leftp .imgleftp .desc{
    border-style:solid;
    border-width:1px;
    border-color:rgb(43, 41, 41);
    max-width:100%;
    margin-left:0%;
    padding:4vh;
    text-align:center;
}
#middle .leftp .namep{
    width:100%;
    background: whitesmoke;
    padding:2vh;
    color:rgb(95, 91, 91);
    
}
#middle .leftp .namep p{
    margin-bottom:0%;
}
#middle .leftp .namep .name{
    font-size:30px;
    font-weight:600;

}
#middle .leftp .mails{
    width:100%;
    background: rgb(95, 91, 91);
    padding:2vh;
    color:white;
}
#middle .leftp .mails ul{
    list-style:none;
    margin-bottom:0%;
}
#middle .leftp .mails ul li{
    display:block;
}
#middle .rightp{
    flex:70%;
    display: flex;
    max-width:70%;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    margin-left:0%;
}
#middle .rightp .rightpart{
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex:90%;
    max-width:90%;
}
#middle .rightp .rightpart .question p{
    font-size:30px;
    font-weight:900;
    text-align:center;
    margin-bottom :0vh;

}
#middle .rightp .rightpart .answer p{
    font-size:15px;
    padding:2vh;
    text-align :center;
}

#footer{
    display:flex;
    max-width:100%;
    background: rgb(43, 41, 41);
    flex-wrap:wrap;
    justify-content:space-around;
    box-shadow: 5px 0 10px grey;
    margin-top:20vh;
    align-items: center;
}
#footer div {
    display: flex;
    flex:30%;
    max-width:30%;
    justify-content: center;
    align-items: center;
    margin-bottom: 0;
}
#footer div p{
    text-align: center;
    color:white;
    margin-bottom: 1vh;
    margin-top:1vh;
}
#footer ul{
    flex:30%;
    max-width:30%;
    display:flex;
    justify-content:center;
    margin-bottom: 0;
    align-items: center;
}
#footer ul li{
    display:inline;
}
#footer ul li a{
    text-decoration:none;
    color:whitesmoke;
    font-size:30px;
    margin:8px;
}
#footer ul li a:hover{
    color:grey;
}
@media (max-width:800px){
    #nav{
        display:flex;
        width:100%;
        background: rgb(43, 41, 41);
        flex-wrap:wrap;
        justify-content:space-around;
        box-shadow: 5px 0 10px grey;
        position:unset;
        flex-direction: column;
        align-items: center;
        margin-top: 0vh;
    }
    #nav ul{
        flex:100%;
        max-width:100%;
        display:flex;
        justify-content:center;
        margin-bottom: 2vh;
        margin-top: 2vh;
    }
    #nav ul li{
        padding:5px 5px;
        margin:2px;
        display:flex;
        justify-content: center;
        align-items: center;
    }
    #nav ul li a{
        text-decoration:none;
        color:whitesmoke;
        font-size:15px;
        font-weight:400;
    }
    #middle{
        display: flex;
        max-width:90%;
        flex-wrap: wrap;
        margin-left:5%;
        margin-top:10vh;
    }
    #middle .leftp{
        max-width:100%;
        flex:100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: center;
        margin-left:0%;
    }
    #middle .leftp .imgleftp .imgl{
        max-width:100%;
        flex:100%;
        display:flex;
        justify-content :center;
        align-content:center;
        align-items:center;
    }
    #middle .leftp .imgleftp .imgl img{
        max-width:80%;
        margin-left:0%;
        margin-bottom:0%;
    }
    #middle .rightp{
        display: flex;
        max-width:100%;
        flex-wrap: wrap;
        margin-left:0%;
        margin-top:10vh;
    }
    #middle .leftp .mails ul li{
        font-size:15px;
    }
    #middle .rightp .rightpart{
        flex:100%;
        max-width:100%;
    }
    #middle .rightp .rightpart .question p{
        font-size:30px;
        font-weight:900;
        text-align:center;
    
    }
    #middle .rightp .rightpart .answer p{
        font-size:15px;
        padding:15px;
        text-align :center;
    }
    #footer{
        display:flex;
        max-width:100%;
        background: rgb(43, 41, 41);
        flex-wrap:wrap;
        justify-content:space-around;
        box-shadow: 5px 0 10px grey;
        flex-direction: column;
        align-items: center;
    }
    #footer ul{
        flex:100%;
        max-width:100%;
        display:flex;
        justify-content:center;
        margin-bottom: 0;
    }
    #footer ul li a{
        text-decoration:none;
        color:whitesmoke;
        font-size:30px;
    }
}
